In [77]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In this homework your task will be to modify `DecisionTreeClassifier` class from your practice in class.

### Task 1 (0.5 points) <br/>

Download Telecom Data To Analyse The Churn Data Set `telecom_churn.csv`. Read it using `pandas.read_csv()` function. To open the function description use `Shift` + `Tab` . Show the first 5 rows of the dataset using `pandas.DataFrame.head()` function.

[Dataset Information](https://www.kaggle.com/spscientist/telecom-data/download):

Columns:
* state (State letter code)
* account length (How long the client has been served by the company)
* area code (Phone number prefix)
* phone number
* international plan (International roaming (connected / not connected))
* voice mail plan (Voice mail (connected / not connected))
* number vmail messages (Number of voice messages)
* total day minutes (Total duration of conversations during the day)
* total day calls (Total calls during the day)
* total day charge (Total amount of payment for services during the day)
* total eve minutes (Total duration of conversations in the evening)
* total eve calls (Total number of calls in the evening)
* total eve charge (Total amount of payment for services in the evening)
* total night minutes (Total duration of conversations at night)
* total night calls (Total number of calls at night)
* total night charge (Total amount of payment for services at night)
* total intl minutes (Total duration of international calls)
* total intl calls (Total number of international call)
* total intl charge (Total payment for international calls)
* customer service calls (The number of calls to the service center)
* churn

Churn is target: True - client has left.

In [86]:
data = pd.read_csv('telecom_churn.csv')
data.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

* Which features are categorical? 
* Which features can be considered as object ID? Should we keep them? Why?

In [153]:
categorical_tags = [data.columns[0], data.columns[2], data.columns[3], data.columns[19]]
binary_tags = [data.columns[4], data.columns[5]]
print(categorical_tags + binary_tags)

['state', 'area code', 'phone number', 'customer service calls', 'international plan', 'voice mail plan']

In [154]:
cnt = {}
for i in range(len(data)):
    key = str(data['state'][i]) + str(data['area code'][i]) + str(data['phone number'][i])
    if key not in cnt:
        cnt[key] = 0
    cnt[key] += 1
if cnt[max(cnt)] == 1:
    print('state, area code, phone number are correct id for this data')
else:
    print('wrong')

state, area code, phone number are correct id for this data

### Task 2 (0.5 points) <br/>

The target column for classification is `Churn`. However, it is categorical feature, so you need to encode this by `0` and `1` values (False = 0, True = 1). Implement this mapping.

In [157]:
# data['churn'] = [(1 if data['churn'][i] else 0) for i in range(len(data['churn']))]
data.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

Create matrix `X` and vector of labels `y`. Split them into train and test samples using `sklearn.model_selection.train_test_split()` function from scikit-learn library. Also, set up random state in the function `random_state=42`.

Expected output dataframes names: `df_X_train`, `df_X_test` и `y_train`, `y_test`

In [166]:
X = data[data.columns[0:-1:]]
y = data[data.columns[-1]]

df_X_train, df_X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [167]:
# Check your result
assert(round(df_X_test.size/X.size, 1)==0.2)
assert(round(y_test.size/y.size, 1)==0.2)

### Task 3 (2 points) categorical feature encoding

Use (0, 1) for binary features. Replace values both for `df_X_train` and `df_X_test`

In [168]:
for tag in binary_tags:
    df_X_train[tag] = [(1 if i == 'yes' else 0) for i in df_X_train[tag]]
df_X_train

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
817,UT,243,510,355-9360,0,0,0,95.5,92,16.24,163.7,63,13.91,264.2,118,11.89,6.6,6,1.78,2
1373,SC,108,415,399-6233,0,0,0,112.0,105,19.04,193.7,110,16.46,208.9,93,9.40,4.1,4,1.11,4
679,TX,75,415,384-2372,1,0,0,222.4,78,37.81,327.0,111,27.80,208.0,104,9.36,8.7,9,2.35,1
56,CO,141,415,340-5121,0,0,0,126.9,98,21.57,180.0,62,15.30,140.8,128,6.34,8.0,2,2.16,1
1993,IN,86,510,357-7893,0,0,0,216.3,96,36.77,266.3,77,22.64,214.0,110,9.63,4.5,3,1.22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,ID,106,510,383-2566,0,0,0,274.4,120,46.65,198.6,82,16.88,160.8,62,7.24,6.0,3,1.62,1
1130,PA,122,415,361-5225,0,0,0,35.1,62,5.97,180.8,89,15.37,251.6,58,11.32,12.7,2,3.43,1
1294,OR,66,408,348-7409,0,0,0,87.6,76,14.89,262.0,111,22.27,184.6,125,8.31,9.2,5,2.48,1
860,HI,169,415,334-3289,0,0,0,179.2,111,30.46,175.2,130,14.89,228.6,92,10.29,9.9,6,2.67,2
3174,SC,36,408,359-5091,0,1,43,29.9,123,5.08,129.1,117,10.97,325.9,105,14.67,8.6,6,2.32,2

In [169]:
for tag in binary_tags:
    df_X_test[tag] = [(1 if i == 'yes' else 0) for i in df_X_test[tag]]
df_X_test

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
438,WY,113,510,352-6573,0,0,0,155.0,93,26.35,330.6,106,28.10,189.4,123,8.52,13.5,3,3.65,1
2674,IL,67,415,369-4377,0,0,0,109.1,117,18.55,217.4,124,18.48,188.4,141,8.48,12.8,6,3.46,0
1345,SD,98,415,392-2555,0,0,0,0.0,0,0.00,159.6,130,13.57,167.1,88,7.52,6.8,1,1.84,4
1957,KY,147,408,396-2945,0,0,0,212.8,79,36.18,204.1,91,17.35,156.2,113,7.03,10.2,2,2.75,1
2148,WY,96,408,329-2045,0,0,0,144.0,102,24.48,224.7,73,19.10,227.7,91,10.25,10.0,7,2.70,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,MN,157,510,372-6920,0,0,0,185.1,92,31.47,213.0,85,18.11,196.1,85,8.82,8.5,5,2.30,2
2763,NC,116,408,338-7527,0,1,19,155.7,104,26.47,185.4,118,15.76,192.7,116,8.67,8.2,2,2.21,3
3069,IN,148,415,371-2418,0,1,26,158.7,91,26.98,160.5,127,13.64,218.3,88,9.82,9.9,3,2.67,1
1468,OH,75,510,372-2296,0,1,27,117.5,102,19.98,206.8,127,17.58,194.4,114,8.75,4.2,7,1.13,3
582,NM,104,415,356-7217,0,0,0,164.2,109,27.91,155.4,90,13.21,168.9,117,7.60,10.7,8,2.89,1

Now, let's implement target encoding for other categorical features. For this task we propose you to implement the simpliest form of target encoding, which goes as following:

Training:
* Consider categorical feature $f$
* For each category $c$ in this feature calculate mean value of target feature $y$: $v_c$

Application:
* Consider feature $f$
* Replace each category $c$ with $v_c$
* If $v_c$ is not calculated (possible new category) - replace $c$ with global target mean

Create the next funсtions:
* `learn_target_encoding `
    * Input: train dataframe, target array, list of features names for encoding
    * Output: nested dict with mapping from category to target encoded value for each categorical feature, global target mean value
* `apply_target_encoding`
    * Input: dataframe, encoding_dict
    * Output: transformed dataframe in form of numpy array

HINT for pandas:
* `df.groupby(..)`
* `df.column.to_dict(..)`
* `df.column.replace(some_dict)`

In [165]:
# train_cnt = {}
# for tag in categorical_tags:
#     train_cnt[tag] = {}
#     for box in zip(df_X_train[tag], y_train):
#         if box[0] not in train_cnt[tag]:
#             train_cnt[tag][box[0]] =  [0, 0] # cat_feature 2 val, amount
#         train_cnt[tag][box[0]][0] += box[1]
#         train_cnt[tag][box[0]][1] += 1
#     for key in train_cnt[tag]:
#         train_cnt[tag][key][0] /= train_cnt[tag][key][1]
#     df_X_train[tag] = [train_cnt[tag][i][0] for i in df_X_train[tag]]
# df_X_train

In [164]:
# test_cnt = {}
# for tag in categorical_tags:
#     test_cnt[tag] = {}
#     for box in zip(df_X_test[tag], y_test):
#         if box[0] not in test_cnt[tag]:
#             test_cnt[tag][box[0]] =  [0, 0] # cat_feature 2 val, amount
#         test_cnt[tag][box[0]][0] += box[1]
#         test_cnt[tag][box[0]][1] += 1
#     for key in test_cnt[tag]:
#         test_cnt[tag][key][0] /= test_cnt[tag][key][1]
#     df_X_test[tag] = [test_cnt[tag][i][0] for i in df_X_test[tag]]
# df_X_test

In [192]:
data.groupby('state').mean().head()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
state,,,,,,,,,,,,,,,,,
AK,97.192308,438.692308,9.057692,178.384615,95.269231,30.325769,184.282692,96.576923,15.664231,192.326923,97.346154,8.654808,10.019231,4.807692,2.705385,1.557692,0.057692
AL,98.025000,430.625000,7.175000,186.010000,99.100000,31.621500,195.462500,98.462500,16.614500,187.285000,98.612500,8.427875,10.292500,4.700000,2.779000,1.562500,0.100000
AR,96.981818,439.254545,7.200000,176.116364,102.145455,29.940000,201.047273,97.836364,17.089636,205.454545,99.054545,9.245818,10.372727,4.690909,2.800727,1.981818,0.200000
AZ,100.468750,432.656250,9.468750,171.604687,100.109375,29.173125,187.748438,102.406250,15.958906,194.004687,99.984375,8.730625,10.631250,4.859375,2.870625,1.593750,0.062500
CA,99.235294,441.500000,9.000000,183.564706,104.500000,31.206176,198.970588,103.088235,16.913529,198.508824,99.205882,8.932941,9.867647,4.441176,2.665588,1.470588,0.264706

In [238]:
data.groupby('state').mean().head().index[0]

'AK'

In [239]:
for i in data.groupby('state').mean().head():
    print(i)

account length
area code
number vmail messages
total day minutes
total day calls
total day charge
total eve minutes
total eve calls
total eve charge
total night minutes
total night calls
total night charge
total intl minutes
total intl calls
total intl charge
customer service calls
churn

In [242]:
def learn_target_encoding(df_input, y_input, features2encode):    
    encoding_dict = {}
    both = df_input
    both['churn'] = y_input
    for tag in features2encode:
        encoding_dict[tag] = both.groupby(tag)['churn'].mean().to_dict()
    return encoding_dict, y_input.mean()    

def apply_target_encoding(df_input, encoding_dict, global_target_mean):    
    df_output = df_input.copy()
    for tag in df_output.to_dict():
        i = 0
        if tag in encoding_dict:
            for tags in df_output[tag].values:
                if tags in encoding_dict[tag]:
                    df_output[tag][i] = encoding_dict[tag][tags]
                else:
                    df_output[tag][i] = global_target_mean
                i += 1
    return df_output

In [243]:
# Check your functions:
input_df = pd.read_csv("task4_train_only_for_check.csv", sep="\t")
features_list = ['cat2']

X_dataframe = input_df[features_list]
y_array = input_df['y']
test_dataframe = pd.read_csv("task4_test_only_for_check.csv", sep="\t")

dictionary, glob_mean = learn_target_encoding(X_dataframe, y_array, features_list)
output_matrix = apply_target_encoding(test_dataframe, dictionary, glob_mean)

assert(np.array_equal(output_matrix, np.array([[0, 0, 0, 1, 1, 0], [3, 3, 5, 4, 2, 3.076923076923077]]).T))

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Task 4 (1 point) <br/>

Now let's look at this data. For each input feature plot historgrams, as it was done in you practice in class. How do you think, what features are the most informative?

In [ ]:
# Your code here

### Task 5 (1 point) <br/>

Fit `DecisionTreeClassifier` from you practice in class with this sample. Find the best parameters. What is `accuracy` of the classification on the test sample?

In [ ]:
# Your code here

### Task 6 (3 points) <br/>

Implement feature importance estimation in `DecisionTreeClassifier`. Importance of a feature $f$ is defined as follows:

* Let $T(f)$ be the set of all nodes, relying on feature $f$ when making split.
* Efficiency of split at node $t$: $\Delta I(t)=I(t)-\sum_{c\in childen(t)}\frac{n_{c}}{n_{t}}I(c)$,  where $n_t$, $n_c$ is number of samples in nodes t, c
* Feature importance of $f$: $\sum_{t\in T(f)}n_{t}\Delta I(t)$, where $n_t$ is number of samples in node t

Calculate importance of input features in your dataset. What features are the most important (informative) for the classification?

To do this you have to update your decision_tree learning procedure:
* Return best_information_gain from best_split
* Save best_information_gain in node
* Traverse tree recursively and caclulate feature importance for every feature.

In [ ]:
# Your code here
# Output: array 'features_order' from highest to lowest importance (first 5)

In [ ]:
assert(len(features_order)==5)
assert(np.array_equal(features_order, np.array(['total day charge', 'customer service calls', 'international plan', 'total intl calls', 'total eve charge'])))

### Task 7 (2 points) <br/>

Implement Reduced Error Pruning in you `DecisionTreeClassifier`. 

Fit the classifier similar to **Task 6** setting up `max_depth=20`. 

Prune this decision tree using train data. 

Create a plot "Accuracy (y-axis) vs Numbers of vertices (x-axis)".

In [ ]:
# Your code here